* {
	margin: 0;
	padding: 0;
	font-family: 'Kanit', sans-serif;
}
.bg-connect a{
	text-decoration: none;
}

section {
	height: 70vh;
	width: 100%;
	background-image: url('./components/img/bg-2_2.jpg');
	background-position: center;
	background-size: cover !important;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: circle(180vh at 50% -80vh) ;
}
section .content{

	/* max-width: 1000px; */
	text-align: center;
}
section .content h2{
	font-size: 5em;
	color: #fff;
	font-weight: 700;
}
.hello{
	font-size: 5em;
	color: #ffa909;
	/* color: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%); */
	color: linear-gradient(to top right, #ffd53d 2%, #ff8800 100%);
	font-weight: 700;

	

}
.hello1{
	font-size: 5em;
	color: #fafafa;
	font-weight: 700;
}
section .content h5{
	font-size: 2em;
	color: #fff;
	font-weight: 700;
}
section .content .color-yellow{
	color: #000;
}	
section .content .color-blue{
	color: #000;
}
.top-img-other {
	width: 100%;
	height: 20vh;
	background-image: url('./components/img/bg-3.jpg');
	background-position: center;
}
.topcontent {
	padding-top: 30px;
	padding-bottom: 50px;
}
.boder-bot {
	border-bottom: 4px solid #1a1c33;
	padding-bottom: 10px;
}
.top-text {
	background: rgba(12, 25, 62, 0.5);
}

.home,
.services,
.products,
.sign-up {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

p,
li {
	line-height: 1.75;
}
h4 {
	font-size: 1.5rem;
}
.bg-light {
	background-color: #f8f9fa !important;
}
.title-top {
	color: #fff;
}
.site-card-border-less-wrapper {
	padding: 30px;
	background: #ececec;
}
.ourService {
	background: #1a1c33;
	background-image: url('./components/img/pattern.jpg');
}
.Top-Head {
	padding-top: 90px;
	padding-bottom: 90px;
	background: #fff;
}
.comment-head {
	padding: 50px;
}
.toppic-head {
	margin-top: 40px;
	text-indent: 40px;
}
.section-heading {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
/* .cont{
  width: 100%;
  height: 40vh;
  background-image: url('./components/img/pexels-jason-lam-1850315.jpg');
} */
.text-uppercase {
	text-transform: uppercase !important;
}
.my-3 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
.the-vistion {
	padding: 6rem 0;
}
.the-vistion {
	padding: 6rem 0;
}
.the-vistion1 {
	padding-bottom: 3rem 0;
}
.card {
	margin: 2rem 0;
}
.text-muted {
	color: #6c757d !important;
}
.movetext {
	margin-bottom: 4rem;
}
.bg-ourservice {
	background: #1a1c33;
	color: #fff;
}
.bg-connect {
	background: #1a1c33;
	background-image: url('.//components/img/map-image.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}
.Footer-Main {
	padding: 80px 0 50px 0;
	background-color: #1a1c33;
	color: #fff;
}
.bottom-footer {
	background-color: #292929;
	position: relative;
	padding: 23px 0;
	overflow: hidden;
	text-align: center;
}
.text-footer {
	color: #fff;
}
.text-topic {
	text-align: center;
}
.img-size {
	width: 100%;
	height: 100%;
}
.img-size1 {
	width: 50%;
	height: 100%;
}
.w-50 {
	width: 30% !important;
}
.card-icon1 {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 3rem;
	margin-bottom: 1rem;
}
.card-icon1 span {
	display: flex;
	background-color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-ms-flex-align: center;
	align-items: center;
	/* box-shadow: 0 0 0 4px rgb(43 143 211); */
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.card-icon1 img {
	margin: 0 auto;
	width: 130px;
	height: 130px;
}

/* ///////////////////////////////////////////////////////// */
.topContent {
	/* padding-top: 30px; */
	padding-bottom: 50px;
}

.topContent-About {
	background: #1a1c33;
	/* border-color: 
  border-width: 3rem; */
}
.contract-bg {
	background: #1a1c33;
	/* background-image: url('./img/section-bg.jpg'); */

	position: relative;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slidebar {
	padding-top: 50px;
	padding-bottom: 50px;
}
.slidebar1 {
	padding: 50px;
}
.slidebar2 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.slidebar3 {
	padding: 30px;
}
.card {
	border-radius: 50%;
}
.top-bar {
	padding-top: 40px;
	padding-bottom: 10px;
	background: url('../src/components/img/bg-2_2.jpg');
	background-position: center center;
	background-size: 100%;
	color: #fff;
	margin: 0 auto;
}
/* .top-head {
	background-size: 100%;
	background: rgba(12, 25, 62, 0.5);
} */
.top-bar-services {
	padding-top: 40px;
	padding-bottom: 10px;
	background: url('../src/components/img/hero-2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover !important;

	color: #fff;
	margin: 0 auto;
}

.top-bar-contract {
	padding-top: 40px;
	padding-bottom: 10px;
	background:#1a1c33 url('../src/components/img/bg-1.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover !important;

	color: #fff;
	margin: 0 auto;
}
.card-width {
	padding-left: 30px;
	padding-right: 30px;
}
.img-size{
	width: "10%";
}
.text-content {
	font-size: 1.2rem;
}
.icon-social{
	font-size: 4rem;
	margin: 15px;

}
.icon-social a{
	text-decoration: none;
	
}
/* .eqc {
background: #000;
height: 80vh;
} */
@media only screen and (max-width: 600px) {
	.hello{
		font-size: 3em;
	}
	.hello1{
		font-size: 3em;
	}
	section .content h5{
		font-size: 1.3em;
	}
  }
  @media only screen and (max-width: 768px) {
	.hello{
		font-size: 4em;
	}
	.hello1{
		font-size: 4em;
	}
	section .content h5{
		font-size: 1.5em;
	}
  }
  @media only screen and (max-width: 425px) {
	  section{
		  height: 110vh;
	  }
	.hello{
		font-size: 3em;
	}
	.hello1{
		font-size: 3em;
	}
	section .content h5{
		font-size: 1.3em;
	}
	section img{
		width: "50%";
	}
  }
  @media only screen and (max-width: 991px) {
	.hello{
		font-size: 3.75em;
	}
	.hello1{
		font-size: 3.75em;
	}
	section .content h5{
		font-size: 1.75em;
	}
	section img{
		width: "50%";
	}
  }